:root {

    /*? --- Sizes --- */

    //! Desktop Sizings

    // Desktop/Title
    --size-font-title-h1: 3rem;
    --size-font-title-h2: 2.25rem;
    --size-font-title-h3: 1.75rem;
    --size-font-title-h4: 1.375rem;
    --size-font-title-h5: 1.25rem;
    --size-font-title-h6: 1.125rem;

    // Desktop/Paragraph
    --size-font-paragraph-p-bis: 1.438rem;
    --size-font-paragraph-p-regular: 1rem;
    --size-font-paragraph-p-small: 0.875rem;
    --size-font-paragraph-p-micro: 0.75rem;

    @media (max-width: 768px) {

        //! Mobile Sizings

        // Mobile/Title
        --size-font-title-h1: 2rem;
        --size-font-title-h2: 1.75rem;
        --size-font-title-h3: 1.375rem;
        --size-font-title-h4: 1.125rem;
        --size-font-title-h5: 1rem;
        --size-font-title-h6: 0.938rem;


        // Mobile/Paragraph
        --size-font-paragraph-p-bis: 1.25rem;
        --size-font-paragraph-p-regular: 0.875rem;
        --size-font-paragraph-p-small: 0.75rem;
        --size-font-paragraph-p-micro: 0.625rem;

    }

    // Italic
    --font-style-italic: italic;

    // Mobile/Paragraph
    --size-mobile-paragraph-p-bis: 1.25rem;
    --size-mobile-paragraph-p-regular: 0.875rem;
    --size-mobile-paragraph-p-bold: 0.875rem;
    --size-mobile-paragraph-p-small: 0.75rem;
    --size-mobile-paragraph-p-micro: 0.625rem;
}

.section {
    display: grid;
    gap: var(--sizing-4xl);
    padding: var(--sizing-5xl) var(--sizing-4xl);

    &-grey {
        position: relative;
        background-color: var(--colors--neutral-100);

    &-decoration ::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-99%);
        width: 100%;
        height: auto;
        aspect-ratio: 1512 / 115;
        background-image: url('./images/plains.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
        padding: var(--sizing-4xl) var(--sizing-md);
        gap: var(--sizing-2xl);
    }
}

.max-width {
    max-width: 1512px;
    margin: 0 auto;
    display: grid;
    gap: var(--sizing-4xl);

    @media (max-width: 768px) {
        gap: var(--sizing-2xl);
    }
}

.section {
    display: grid;
    gap: var(--sizing-4xl);
    padding: var(--sizing-5xl) var(--sizing-4xl);

    &-grey {
        position: relative;
        background-color: var(--colors--neutral-100);

        & ::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-99%);
            width: 100%;
            height: auto;
            aspect-ratio: 1512 / 115;
            background-image: url('./images/plains.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    @media (max-width: 768px) {
        padding: var(--sizing-4xl) var(--sizing-md);
        gap: var(--sizing-2xl);
    }
}

.max-width {
    max-width: 1512px;
    margin: 0 auto;
    display: grid;
    gap: var(--sizing-4xl);

    @media (max-width: 768px) {
        gap: var(--sizing-2xl);
    }
}

.bold {
    font-family: Poppins_SemiBold;
}

.italic {
    font-style: var(--font-style-italic);
}

.p-large {
    font-family: Poppins_Bold;
    font-size: var(--size-desktop-paragraph-p-bis);
}

.subtitle {
    font-size: 1.188rem;

    @media (max-width: 768px) {
        font-size: 0.938rem;
    }
}

.masked-element {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
}
