:root {

    /*? --- Sizes --- */

    // Desktop/Title
    --size-desktop-title-h1: 3rem;
    --size-desktop-title-h2: 2.375rem;
    --size-desktop-title-h3: 2.063rem;
    --size-desktop-title-h4: 1.75rem;
    --size-desktop-title-h5: 1.438rem;
    --size-desktop-title-h6: 1.188rem;

    // Desktop/Paragraph
    --size-desktop-paragraph-p-bis: 1.438rem;
    --size-desktop-paragraph-p-regular: 1rem;
    --size-desktop-paragraph-p-bold: 1rem;
    --size-desktop-paragraph-p-small: 0.875rem;
    --size-desktop-paragraph-p-micro: 0.75rem;

    // Bold
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;

    // Italic
    --font-style-italic: italic;
}

.bold {
    font-family: Poppins_SemiBold;
}

.small {
    font-size: var(--size-desktop-paragraph-p-small);
}