:root {
  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  padding: 0;
  scroll-margin-top: 80px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'ABeeZee_Regular', sans-serif;
  // font-size: var(--size-font-paragraph-p-regular);
  // line-height: 130%;
}

body {
  background-color: var(--colors--white);
  font-family: 'ABeeZee_Regular', sans-serif;
  font-size: var(--size-font-paragraph-p-regular);
  // line-height: 130%;
  color: var(--colors--black);
  // scroll-behavior: smooth;
}

a {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--colors--black);
  transition: 0.2s ease-in-out;

  &:hover {
    color: var(--colors--primary-950);
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

p, li {
  max-width: 88ch;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 35ch;
}