:root {
    --sizing-3xs: 4px;
    --sizing-2xs: 8px;
    --sizing-xs: 12px;
    --sizing-sm: 16px;
    --sizing-md: 20px;
    --sizing-lg: 24px;
    --sizing-2lg: 28px;
    --sizing-xl: 32px;
    --sizing-2xl: 40px;
    --sizing-3xl: 48px;
    --sizing-4xl: 64px;
    --sizing-5xl: 80px;
    --sizing-6xl: 116px;
}