* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

  /*? --- Colors --- */

  --colors--neutral-50: #FAFAFA;
  --colors--neutral-100: #EFEFEF;
  --colors--neutral-200: #DCDCDC;
  --colors--neutral-300: #BDBDBD;
  --colors--neutral-400: #989898;
  --colors--neutral-500: #7C7C7C;
  --colors--neutral-600: #5D5D5D;
  --colors--neutral-700: #4F4F4F;
  --colors--neutral-800: #454545;
  --colors--neutral-900: #3D3D3D;
  --colors--neutral-950: #151515;

  --colors--white: var(--colors--neutral-50);
  --colors--black: var(--colors--neutral-950);

  --colors--primary-50: #FAF6FE;
  --colors--primary-100: #F2E9FE;
  --colors--primary-200: #E7D7FD;
  --colors--primary-300: #D5B8FA;
  --colors--primary-400: #BB8BF5;
  --colors--primary-500: #A25EEE;
  --colors--primary: #8E42E0;
  --colors--primary-700: #762CC4;
  --colors--primary-800: #6529A0;
  --colors--primary-900: #532281;
  --colors--primary-950: #360C5F;

  --colors--yellow-50: #FDFFE7;
  --colors--yellow-100: #F8FFC1;
  --colors--yellow-200: #F5FF86;
  --colors--yellow-300: #F7FF41;
  --colors--yellow-400: #FFFE0D;
  --colors--yellow: #FFF000;
  --colors--yellow-600: #D1B300;
  --colors--yellow-700: #A68102;
  --colors--yellow-800: #89640A;
  --colors--yellow-900: #74520F;
  --colors--yellow-950: #442C04;

  --colors--red-50: #FFF1F1;
  --colors--red-100: #FFE1E1;
  --colors--red-200: #FFC7C7;
  --colors--red-300: #FFA0A0;
  --colors--red: #FF6666;
  --colors--red-500: #F83B3B;
  --colors--red-600: #E51D1D;
  --colors--red-700: #C11414;
  --colors--red-800: #A01414;
  --colors--red-900: #841818;
  --colors--red-950: #480707;  
}