.team {
    width: 100%;
    height: fit-content;

    &_image {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: var(--color-gray-200);
        border-radius: var(--sizing-md);
        padding: var(--sizing-2xs);
        margin-bottom: var(--sizing-xs);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &_labels {
        display: flex;
        gap: var(--sizing-2xs);
        flex-wrap: wrap;
        word-wrap: normal
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-3xs);
    }

    &_name {
        font-size: var(--size-font-paragraph-p-bis);
    }

    &_description {
        font-size: var(--size-font-paragraph-p-regular);
    }
}