.advices {
    display: grid;
    grid-template-columns: 400px 1fr;

    &__right {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-xl);
        padding: var(--sizing-lg) var(--sizing-xl);
        width: 100%;

        &_Header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--sizing-xs);

            .verticalSeparator {
                width: 1px;
                height: 16px;
                background-color: var(--colors--neutral-300);
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        gap: var(--sizing-lg);
    }
}

.user {
    &__main {
        &_all {
            display: grid;
            gap: var(--sizing-xl);
            padding-top: var(--sizing-xl);
            padding-bottom: var(--sizing-4xl);
        }

        &_step {
            gap: var(--sizing-xl) 0;
            padding-top: var(--sizing-xl);
            padding-bottom: var(--sizing-4xl);
        }
    }

    &__h2 {
        grid-column: 1 / -1;
        padding: 0 var(--sizing-4xl);
    }
}