.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--sizing-4xl);
    min-height: 80dvh;
    width: 100%;
    padding: 160px 0;

    .title_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--sizing-sm);
        text-align: center;
    }

    ::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1512 / 115;
        background-image: url('/images/plains.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.grey {
        background-color: var(--colors--neutral-100);

        ::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            aspect-ratio: 1512 / 115;
            background-image: url('/images/plains_white.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
