.hr_container {
    padding: 0 var(--sizing-4xl);

    @media (max-width: 768px) {
        padding: 0 var(--sizing-md);
    }

    &.fullpage {
        padding: 0;
    }

    .hr {
        border: 0;
        height: 1px;
        background-color: var(--colors--neutral-200);
        max-width: 1512px;
        margin: 0 auto;
    }

    &_black {
        background-color: var(--colors--neutral-100);

        .hr {
            background-color: var(--colors--neutral-300);
        }
    }
}