.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authForm {
    background-color: var(--colors--neutral-50);
    border: 1px solid var(--colors--neutral-300);
    padding: var(--sizing-3xl) var(--sizing-md) var(--sizing-md) var(--sizing-md);
    border-radius: var(--sizing-2lg);
    width: 30%;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        padding-bottom: var(--sizing-3xl);
    }

    &__separator {
        border-width: 1px;
        background-color: var(--colors--neutral-300);
        margin: var(--sizing-lg) 0;
        height: 1px;
        padding: 0;
        color: var(--colors--neutral-300);
        border: 0;
    }

    &__formGroup {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-sm);
        margin-bottom: var(--sizing-2xs);

        >* {
            display: flex;
            flex-direction: column;
        }
    }

    &__error {
        color: var(--colors--red-500);
        font-size: var(--size-desktop-paragraph-p-small);
        font-family: 'abeezee_regular', sans-serif;
    }

    &__label {
        font-weight: var(--font-weight-bold);
        margin-bottom: var(--sizing-2xs);
        color: var(--colors--neutral-950);
        font-family: 'poppins', sans-serif;
    }

    &__input {
        padding: var(--sizing-xs);
        border-radius: var(--sizing-2xs);
        flex: 1;
    }

    &__forgotPassword {
        text-align: right;
        font-size: var(--size-desktop-paragraph-p-small);
        font-family: 'ABeeZee_Regular', sans-serif;
        margin-bottom: var(--sizing-sm);
        color: var(--colors--neutral-950);
    }

    &__noAccount {
        font-weight: var(--font-weight-bold);
        font-family: 'poppins', sans-serif;
        text-align: center;
        font-size: var(--size-desktop-paragraph-p-bis);
        padding-bottom: var(--sizing-sm);
    }

    &__registerLink {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    &__registerButton {
        width: 100%;
        text-align: center;
        font-family: 'abeezee_regular', sans-serif;
    }

    &__alreadyAccount {
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: var(--size-desktop-paragraph-p-bis);
        margin-top: var(--sizing-sm);
    }

    &__hint {
        font-size: var(--size-desktop-paragraph-p-small);
        color: var(--colors--neutral-700);
        margin-top: var(--sizing-2xs);
        font-family: 'ABeeZee_Regular', sans-serif;
    }

    &__alreadyAccount {
        text-align: center;

    }
}

.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.iconEye {
    position: absolute;
    right: var(--sizing-xs);
    top: 50%;
    transform: translate(0, -40%);
    cursor: pointer;
    background-color: transparent;
    border: none;
}