.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authForm {
    display: flex;
    width: 90vw;
    max-width: 440px;
    flex-direction: column;
    align-items: stretch;
    gap: var(--sizing-3xl);
    padding: var(--sizing-3xl) var(--sizing-md) var(--sizing-md);
    background-color: var(--colors--neutral-50);
    border: 1px solid var(--colors--neutral-300);
    border-radius: var(--sizing-2lg);

    &__title {
        text-align: center;
        line-height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-lg);
    }

    &__error {
        color: var(--colors--red-600);
        font-size: var(--size-font-paragraph-p-small);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-sm);
    }

    &__inputWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-2xs);
    }

    &__input {
        padding: var(--sizing-xs);
        border-radius: var(--sizing-2xs);
        background-color: var(--colors--neutral-100);
        border: none;
        flex: 1;
    }

    &__forgotPassword {
        margin-left: auto;
        text-align: right;
        text-decoration-color: var(--colors--neutral-900);
        font-size: var(--size-font-paragraph-p-small);
        color: var(--colors--neutral-900);
    }

    &__noAccount {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-sm);
        text-align: center;
    }

    &__registerLink {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    &__registerButton {
        width: 100%;
    }

    &__alreadyAccount {
        text-align: center;
        text-decoration-color: currentColor;
    }

    &__passwordInfo {
        font-size: var(--size-font-paragraph-p-small);
        color: var(--colors--neutral-900);
    }

    &__passwordValid {
        color: #2ecc71;
    }

    &__passwordInvalid {
        color: var(--colors--red-600);
    }
}

.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.iconEye {
    position: absolute;
    right: var(--sizing-xs);
    top: 50%;
    transform: translate(0, -40%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--colors--neutral-900);
}