.heading_h1 {
    font-family : Poppins_Bold;
    font-size: 4rem;
}

.heading_h2 {
    font-family : Poppins_Bold;
    font-size: 2.375rem;
}

.heading_h3 {
    font-family : Poppins_Bold;
    font-size: 2.063rem;
}

.heading_h4 {
    font-family : Poppins_Bold;
    font-size: 1.75rem;
}

.heading_h5 {
    font-family : Poppins_Bold;
    font-size: 1.438rem;
}

.heading_h6 {
    font-family : Poppins_Bold;
    font-size: 1.188rem;
}

.text+image{}

