.partners {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.partners_image {
    background-color: var(--colors--neutral-100);
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: var(--sizing-md);
    padding: var(--sizing-2xs);
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.partners_labels {
    display: flex;
    gap: var(--sizing-2xs);
    flex-wrap: wrap;
    z-index: 2;
}

.partners_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-width: 300px;
    max-height: 150px;
    margin: 0 auto;
    object-fit: contain;
}

.partners_name {
    margin: var(--sizing-xs) 0;
    padding: 0 var(--sizing-3xs);
}

.partners_description {
    font-size: var(--size-font-paragraph-p-regular);
    font-family: ABeeZee_Regular;
    padding: 0 var(--sizing-3xs);
}
